body
{
    background-color: aqua;
}

h1
{
    color: blue;
    background-color: yellow;
}

#show_sketch
{
    float: right;
}

#score
{
    float:left;
    font-size:25px;
    margin-left:50px;
}

#timer
{
    float:right;
    font-size:25px;
    margin-right: 100px;
}

p
{
    font-size: 25px;
    padding-top: 10px;
}

canvas
{
border:5px solid yellow;
border-radius: 20px;
margin-top: 50px;

animation-name: animation;
animation-duration: 4s;
animation-iteration-count: infinite;
}

@keyframes animation
{
    from{box-shadow: -1px 1px 40px rgb(223, 57, 15);}
    to{box-shadow: -1px 1px 35px rgb(41, 89, 190);}
}